<mat-toolbar color="primary">
  <div
    matRipple
    class="noselect default-padding-around"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    (click)="onTitleClicked()"
  >
    <span>{{title}}</span>
  </div>

  <span class="toolbar-spacer"></span>
  <div
    class="noselect"
    matRipple
    fxLayout="row"
    fxLayoutAlign="space-around center"
    (click)="onAccountClicked()"
  >
    <img
      *ngIf="authenticated && !isNullOrEmptyOrUndefined(user.avatar)"
      class="avatar"
      src="{{user.avatar}}"
      alt="avatar"
      (error)="onAvatarLoadError($event)"
    />
    <mat-icon
      *ngIf="authenticated && isNullOrEmptyOrUndefined(user.avatar)"
      class="avatar-icon"
    >person</mat-icon>

    <span class="user-name" *ngIf="authenticated" fxHide.lt-sm>{{user.fullName}}</span>

  </div>
  <button
    mat-raised-button
    color="accent"
    *ngIf="!authenticated"
    (click)="onLoginClicked()"
    i18n="login|login button label@@login"
  >Login</button>
  <button
    *ngIf="authenticated"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAccountClicked()">
      <mat-icon>person</mat-icon>
      <span i18n="account|account button label@@account">Account</span>
    </button>
    <button mat-menu-item (click)="onLogoutClicked()">
      <mat-icon>exit_to_app</mat-icon>
      <span i18n="logout|logout button label@@logout">Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
