.avatar {
  width: 32px;
  height: 32px;

  margin: 8px 16px;

  border-radius: 50%;

  object-fit: cover;
}

.user-name {
  margin-right: 16px;
}

.avatar-icon {
  vertical-align: middle;

  margin: 8px 16px;
}
