<div class="footer_container default-margin-top">

  <!--  todo about-->

  <div fxLayout.gt-xs="row" fxLayout="column">
    <div id="source-code" fxFlex class="default-padding-around">
      <h3>Source code</h3>
      <p>Source code for this site is open. You can find it here:</p>
      <p>
        <span>FrontEnd: </span>
        <span><a href="https://github.com/mohaxspb/dont-play-with-gp-front">dont-play-with-gp-front</a></span>
      </p>
      <p>
        <span>BackEnd: </span>
        <span><a href="https://github.com/mohaxspb/dont-play-with-gp-front">dont-play-with-gp-api</a></span>
      </p>
    </div>
    <div id="contacts" fxFlex class="default-padding-around">
      <h3>Contacts</h3>
      <p>If you have any question, please, contact us by email:
        <a href="mailto:admin@dont-play-with-google.com">admin@dont-play-with-google.com</a></p>
      <p>Also you can contact a lot of people in this Telegram chat:
        <a href="https://t.me/android_developers_ban">t.me/android_developers_ban</a></p>
      <p>Or you can write comments to articles on our site!</p>
    </div>
  </div>

  <div id="social-icons-license" class="default-padding-around">
    <h3>Icons licenses</h3>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>

<!--  todo cookie info-->

  <p class="default-padding-around">Version: {{appVersion}}</p>

</div>
