<div>

  <mat-card>

    <mat-card-header>
      <mat-card-title>{{actionTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <!--      todo add instruction-->

      <div id="data-loading-indication">

        <mat-spinner
          *ngIf="dataIsLoading | async"
          class="center-inside"
          [diameter]="24"
        ></mat-spinner>

        <button
          *ngIf="user == null && !(dataIsLoading | async)"
          class="default-margin-left"
          mat-raised-button
          color="warn"
          type="button"
          (click)="onDataRefreshClicked()"
        >Refresh</button>

      </div>

      <div id="articleFormContainer" *ngIf="user!=null && languagesListFromApi!=null">

        <form
          *ngIf="(dataIsLoading|async) == false"
          [formGroup]="articleCreateFormGroup"
          name="articleCreateForm"
          (ngSubmit)="onArticleCreateClicked()"
        >

          <!--Article section-->
          <mat-divider inset></mat-divider>
          <!--          fixme test-->
          <pre>{{articleCreateFormGroup.value | json}}</pre>

          <pre>{{articleCreateFormGroup.valid}}</pre>
          <!--          fixme test-->
          <h3 (click)="findInvalidControls()">Article data</h3>

          <mat-card id="input-sourceData">
            <div class="mat-input-element">
              <mat-checkbox
                formControlName="articleIsFromAnotherSite"
                name="articleIsFromAnotherSite"
                color="primary"
                (change)="onArticleIsFromAnotherSiteClicked($event.checked)"
              >Article is from another site</mat-checkbox>
            </div>
            <mat-card-content *ngIf="articleIsFromAnotherSite">

              <div id="input-source-title" class="mat-input-element">
                <mat-form-field class="full-width-field">
                  <label class="full-width-field">
                    <input
                      matInput
                      formControlName="sourceTitle"
                      placeholder="Source title"
                      name="sourceTitle"
                      required="{{articleIsFromAnotherSite}}"
                      (change)="onSourceTitleChanged($event.target.value)"
                    >
                  </label>
                  <mat-error
                    *ngIf="articleCreateFormGroup.controls.sourceTitle.errors?.required">You must provide title</mat-error>
                </mat-form-field>
              </div>
              <div id="input-source-author" class="mat-input-element">
                <mat-form-field class="full-width-field">
                  <label class="full-width-field">
                    <input
                      matInput
                      formControlName="sourceAuthorName"
                      placeholder="Source author name"
                      name="sourceAuthorName"
                      (change)="onSourceAuthorNameChanged($event.target.value)"
                    >
                  </label>
                </mat-form-field>
              </div>
              <div id="input-source-url" class="mat-input-element">
                <mat-form-field class="full-width-field">
                  <label class="full-width-field">
                    <input
                      matInput
                      formControlName="sourceUrl"
                      placeholder="Source url"
                      name="sourceUrl"
                      required="{{articleIsFromAnotherSite}}"
                      (change)="onSourceUrlChanged($event.target.value)"
                    >
                  </label>
                  <mat-error
                    *ngIf="articleCreateFormGroup.controls.sourceUrl.errors?.required">You must provide url</mat-error>
                  <mat-error
                    *ngIf="articleCreateFormGroup.controls.sourceUrl.errors?.pattern">Url is not valid</mat-error>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <div id="input-primaryLanguage">
            <mat-form-field class="full-width-field default-margin-top">
              <mat-label>Primary language</mat-label>

              <mat-select
                formControlName="primaryLanguageSelect"
                [errorStateMatcher]="matcher"
                required
                (selectionChange)="onPrimaryLanguageChanged($event.value)"
              >
                <mat-option
                  *ngFor="let language of languagesListFromApi"
                  [value]="language">{{language.langCode.toUpperCase()}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="articleCreateFormGroup.controls.primaryLanguageSelect.errors?.required"
              >You must make a selection</mat-error>

            </mat-form-field>

          </div>

          <!--Translation section-->
          <mat-divider inset></mat-divider>
          <h3>Translation data</h3>

          <mat-card id="input-articleImage" class="default-margin-bottom">
            <mat-card-title>Article image file</mat-card-title>

            <div id="articleImageContainer"
                 fxLayout
                 fxLayoutAlign="center center"
                 class="default-margin-bottom default-margin-top">
              <img
                *ngIf="articleImageUrl!=null"
                [src]="getImagePath(articleImageUrl)"
                matCardImage
                height="48px"
                width="48px"
                alt="Article image"
                class="input-image-preview"
                (error)="onImageLoadError($event)"
              >

              <img
                *ngIf="articleImageUrl==null"
                height="48px"
                width="48px"
                alt="No image in article"
                src="./assets/baseline-image-24px.svg"
              >

            </div>

            <mat-card-content>
              <div
                *ngIf="isAddTranslationMode"
                class="mat-input-element"
              >
                <mat-checkbox
                  formControlName="useExistingImage"
                  name="useExistingImage"
                  color="primary"
                  (change)="onUseExistingImageClicked($event.checked)"
                >Use existing image</mat-checkbox>
              </div>

              <mat-form-field
                class="full-width-field">
                <ngx-mat-file-input
                  class="full-width-field"
                  #articleImageFileInput
                  formControlName="imageFile"
                  placeholder="Image file"
                  valuePlaceholder="No file selected"
                  (change)="articleImageFileChange($event.target.files)"
                >
                </ngx-mat-file-input>

                <button
                  mat-icon-button matSuffix
                  *ngIf="!articleImageFileInput.empty"
                  (click)="articleImageFileInput.clear($event);onLogoFileCleared()"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="articleCreateFormGroup.get('imageFile').hasError('maxContentSize')"
                >The total size must not exceed {{maxSizeText}} ({{actualSizeText}}).</mat-error>
              </mat-form-field>
              <div id="input-image-file-name" class="mat-input-element">
                <mat-form-field class="full-width-field">
                  <label class="full-width-field">
                    <input
                      matInput
                      [value]="imageFileName"
                      formControlName="imageFileName"
                      placeholder="Image file name"
                      name="imageFileName"
                      (change)="onImageFileNameChanged($event.target.value)"
                    >
                  </label>
                </mat-form-field>
              </div>
            </mat-card-content>

          </mat-card>

          <div id="input-translationLanguage" *ngIf="!isCreateArticleMode">
            <mat-form-field class="full-width-field default-margin-top">
              <mat-label>Translation language</mat-label>

              <mat-select
                formControlName="translationLanguageSelect"
                [errorStateMatcher]="matcher"
                required
                (selectionChange)="onTranslationLanguageChanged($event.value)"
              >
                <mat-option
                  *ngFor="let language of getTranslationLanguages()"
                  [value]="language">{{language.langCode.toUpperCase()}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="articleCreateFormGroup.controls.translationLanguageSelect.errors?.required"
              >You must make a selection</mat-error>

            </mat-form-field>

          </div>

          <div id="input-title" class="mat-input-element">
            <mat-form-field class="full-width-field">
              <label class="full-width-field">
                <input
                  matInput
                  formControlName="title"
                  placeholder="Title"
                  name="title"
                  required
                  (change)="onTitleChanged($event.target.value)"
                >
              </label>
              <mat-error
                *ngIf="articleCreateFormGroup.controls.title.errors?.required">You must provide title</mat-error>
            </mat-form-field>
          </div>

          <div id="input-shortDescription" class="mat-input-element">
            <mat-form-field class="mat-input-element">
              <!--suppress HtmlFormInputWithoutLabel -->
              <textarea
                class="mat-input-element"
                matInput
                matTextareaAutosize
                matAutosizeMinRows=1
                matAutosizeMaxRows=5
                formControlName="shortDescription"
                placeholder="Short description"
                name="shortDescription"
                (change)="onShortDescriptionChanged($event.target.value)"
              ></textarea>
            </mat-form-field>
          </div>

          <!--Version section-->
          <mat-divider inset></mat-divider>
          <h3>Text version data</h3>

          <div id="article-text">
            <div class="position-relative">
              <div class="full-width-field default-margin-bottom">
                <label>Article text</label>
                <!--suppress AngularUndefinedBinding -->
                <angular-markdown-editor
                  textareaId="editor1"
                  rows="12"
                  formControlName="markdownText"
                  (onChange)="onTextChanged($event.target.value)"
                >
                </angular-markdown-editor>
              </div>

              <div
                *ngIf="isEditArticleMode || isEditTranslationMode"
                class="background-half-transparent-white cover"
              ></div>

            </div>

            <div id="textPreview" class="default-margin-bottom">
              <label>Preview</label>
              <mat-card>
                <mat-card-content>
                  <markdown [data]="text"></markdown>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <p id="submit">
            <button
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!articleCreateFormGroup.valid"
            >{{submitTitle}}</button>
          </p>

        </form>

        <div *ngIf="progressInAction|async"
             id="data-sending-indication"
             class="background-half-transparent-white cover"
        >

          <mat-spinner
            class="center-inside-both-axis"
            [diameter]="24"
          ></mat-spinner>

        </div>

      </div>
    </mat-card-content>
  </mat-card>

</div>
