<div>

  <mat-card>
    <mat-card-header>
      <h3>New article creation</h3>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="articleCreateFormGroup"
        name="accountEditForm"
        (ngSubmit)="onArticleCreateClicked()"
      >

        <div class="mat-input-element">
          <mat-form-field class="full-width-field">
            <label>
              <input
                matInput
                formControlName="name"
                placeholder="Name"
                name="name"
                required
                (change)="onTitleChanged($event.target.value)"
              >
            </label>
            <mat-error *ngIf="articleCreateFormGroup.controls.name.errors?.required">You must provide name</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <mat-form-field class="full-width-field">
            <mat-label>Primary language</mat-label>

            <mat-select
              formControlName="primaryLanguageSelect"
              [errorStateMatcher]="matcher"
              required
              (selectionChange)="onPrimaryLanguageChanged($event.value)"
            >
              <mat-option
                *ngFor="let language of languagesListFromApi"
                [value]="language">{{language.langCode.toUpperCase()}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="articleCreateFormGroup.controls.primaryLanguageSelect.errors?.required"
            >You must make a selection</mat-error>

          </mat-form-field>

        </div>

        <p>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!(articleCreateFormGroup.dirty && articleCreateFormGroup.valid)"
          >Save</button>
        </p>

      </form>
    </mat-card-content>
  </mat-card>


</div>
