<div class="article-container">

  <div id="data-loading-indication">

    <mat-spinner
      *ngIf="dataIsLoading | async"
      class="center-inside"
      [diameter]="24"
    ></mat-spinner>

    <button
      *ngIf="!(dataIsLoading | async) && (languages==null || article==null)"
      class="default-margin-left"
      mat-raised-button
      color="warn"
      type="button"
      (click)="onDataRefreshClicked()"
    >Refresh</button>

  </div>

  <div id="article-content" *ngIf="article!=null">

    <header class="default-margin-bottom">
      <mat-card>
        <mat-card-content>
          <!--    todo image-->
          <span *ngIf="article.published">{{article.publishedDate}}</span>

          <div *ngIf="!article.published" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
            <span>Not published</span>
            <div *ngIf="isAdmin()"
                 fxLayout.gt-xs="row"
                 fxLayout="column"
                 fxLayoutAlign="start start"
                 fxLayoutGap="16px">
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
                <mat-slide-toggle
                  [disabled]="!article.approved"
                  [(ngModel)]="article.published"
                  [labelPosition]="'before'"
                  (change)="onPublishArticleChanged($event.checked)"
                >Publish article</mat-slide-toggle>
                <mat-error *ngIf="!article.approved">Article is not approved!</mat-error>
              </div>

              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
                <!--                todo disable based on translations-->
                <!--                [disabled]="!article.approved"-->
                <mat-slide-toggle
                  [(ngModel)]="article.approved"
                  [labelPosition]="'before'"
                  (change)="onApproveArticleChanged($event.checked)"
                >Approve article</mat-slide-toggle>
                <!--                todo error based on translations-->
                <!--                <mat-error *ngIf="isAdmin() && !article.approved">Article is not approved!</mat-error>-->
              </div>
            </div>
          </div>

          <h2>{{selectedTranslation.title}}</h2>

          <div id="sourceData" *ngIf="article.sourceTitle!=null">
            <a href="{{article.sourceUrl}}">{{article.sourceTitle}}</a>
            <span *ngIf="article.sourceAuthorName!=null"
                  class="default-margin-left">By {{article.sourceAuthorName}}</span>
          </div>
          <div *ngIf="article.sourceTitle==null">Author: {{article.author?.fullName}}</div>
        </mat-card-content>
      </mat-card>

    </header>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">

      <mat-button-toggle-group
        [value]="selectedLanguage"
        (change)="onLanguageSelected($event.value)">
        <mat-button-toggle
          *ngFor="let lang of availableArticleLanguages"
          [value]="lang"
        >{{lang.langCode.toUpperCase()}}</mat-button-toggle>
      </mat-button-toggle-group>

      <div id="translation-approve-publish"
           *ngIf="isAdmin()"
           fxLayout.gt-xs="row"
           fxLayout="column"
           fxLayoutAlign="start start"
           fxLayoutGap="16px"
      >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-slide-toggle
            [disabled]="!selectedTranslation.approved"
            [(ngModel)]="selectedTranslation.published"
            [labelPosition]="'before'"
            (change)="onPublishTranslationChanged($event.checked)"
          >Publish translation</mat-slide-toggle>
          <mat-error *ngIf="!selectedTranslation.approved">Version is not approved!</mat-error>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-slide-toggle
            [(ngModel)]="selectedTranslation.approved"
            [labelPosition]="'before'"
            (change)="onApproveTranslationChanged($event.checked)"
          >Approve translation</mat-slide-toggle>
        </div>
      </div>

    </div>

    <article class="default-margin-top">

      <markdown [data]="selectedTranslationVersion.text"></markdown>

      <div id="version-approve-publish"
        *ngIf="isAdmin()"
           fxLayout.gt-xs="row"
           fxLayout="column"
           fxLayoutAlign="start start"
           fxLayoutGap="16px"
      >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-slide-toggle
            [disabled]="!selectedTranslationVersion.approved"
            [(ngModel)]="selectedTranslationVersion.published"
            [labelPosition]="'before'"
            (change)="onPublishVersionChanged($event.checked)"
          >Publish version</mat-slide-toggle>
          <mat-error *ngIf="!selectedTranslationVersion.approved">Version is not approved!</mat-error>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-slide-toggle
            [(ngModel)]="selectedTranslationVersion.approved"
            [labelPosition]="'before'"
            (change)="onApproveVersionChanged($event.checked)"
          >Approve version</mat-slide-toggle>
        </div>
      </div>

    </article>
  </div>

</div>
