<div class="article-container">

  <div id="data-loading-indication">

    <mat-spinner
      *ngIf="dataIsLoading | async"
      class="center-inside"
      [diameter]="24"
    ></mat-spinner>

    <button
      *ngIf="!(dataIsLoading | async) && (languages==null || article==null)"
      class="default-margin-left"
      mat-raised-button
      color="warn"
      type="button"
      (click)="onDataRefreshClicked()"
    >Refresh</button>

  </div>

  <div id="article-content" *ngIf="article!=null">

    <header class="default-margin-bottom">
      <mat-card>
        <mat-card-content>
          <!--    todo image-->
          <span *ngIf="article.published">{{article.publishedDate}}</span>
          <span *ngIf="!article.published">Not published</span>
          <h2>{{selectedTranslation.title}}</h2>

          <div id="sourceData" *ngIf="article.sourceTitle!=null">
            <a href="{{article.sourceUrl}}">{{article.sourceTitle}}</a>
            <span *ngIf="article.sourceAuthorName!=null"
                  class="default-margin-left">By {{article.sourceAuthorName}}</span>
          </div>
          <div *ngIf="article.sourceTitle==null">Author: {{article.author?.fullName}}</div>
        </mat-card-content>
      </mat-card>

    </header>

    <mat-button-toggle-group
      [value]="selectedLanguage"
      (change)="onLanguageSelected($event.value)">
      <mat-button-toggle
        *ngFor="let lang of availableArticleLanguages"
        [value]="lang"
      >{{lang.langCode.toUpperCase()}}</mat-button-toggle>
    </mat-button-toggle-group>

    <article class="default-margin-top">
      <markdown [data]="selectedTranslationVersion.text"></markdown>
    </article>
  </div>

</div>
