<div class="login-bottom-sheet" fxLayout="column" fxLayoutGap="16px">

  <h3 *ngIf="inputData!=null" class="color-primary">{{inputData?.title}}</h3>

  <h3 *ngIf="!createNewAccountFormTypeEnabled"
      i18n="login dialog label|login with email@@loginWithEmail">Login with email</h3>
  <h3 *ngIf="createNewAccountFormTypeEnabled"
      i18n="login dialog label|register with email@@registerWithEmail">Register with email</h3>

  <mat-card class="login-register-card">
    <div class="login-register-container" fxLayout="column" fxLayoutAlign="space-around center">
      <form
        [formGroup]="loginRegisterFormGroup"
        name="loginRegisterForm"
        (ngSubmit)="onLoginOrRegisterClicked()"
      >

        <div class="mat-input-element" *ngIf="createNewAccountFormTypeEnabled">
          <mat-form-field>
            <label>
              <input
                matInput
                formControlName="name"
                placeholder="Name"
                name="name"
                required
                (change)="onNameChanged($event.target.value)"
              >
            </label>
            <mat-error
              *ngIf="loginRegisterFormGroup.controls.name.errors?.required"
              i18n="Name required|name required error message@@nameRequiredErrorMessage"
            >You must provide name</mat-error>
          </mat-form-field>
        </div>

        <div class="mat-input-element">
          <mat-form-field>
            <label>
              <input
                matInput
                formControlName="email"
                placeholder="Email"
                name="email"
                type="email"
                required
                (change)="onEmailChanged($event.target.value)"
              >
            </label>
            <mat-error *ngIf="loginRegisterFormGroup.controls.email.errors?.required"
                       i18n="Email required|Email required error message@@emailRequiredErrorMessage">You must provide Email</mat-error>
            <mat-error *ngIf="loginRegisterFormGroup.controls.email.errors?.email"
                       i18n="Email invalid|Email invalid error message@@emailRequiredErrorMessage">Invalid Email</mat-error>
          </mat-form-field>
        </div>

        <div class="mat-input-element">
          <mat-form-field>
            <label>
              <input
                matInput
                formControlName="password"
                placeholder="Password"
                name="password"
                type="password"
                required
                (change)="onPasswordChanged($event.target.value)"
              >
            </label>
            <mat-error *ngIf="loginRegisterFormGroup.controls.password.errors?.required"
                       i18n="password required|password required error message@@passwordRequiredErrorMessage"
            >You must provide password</mat-error>
            <mat-error *ngIf="loginRegisterFormGroup.controls.password.errors?.minlength"
                       i18n="password min length|password min length error message@@passwordMinLengthErrorMessage"
            >Minimum length is {{passwordMinLength}}</mat-error>
            <mat-error *ngIf="loginRegisterFormGroup.controls.password.errors?.maxlength"
                       i18n="password max length|password max length error message@@passwordMaxLengthErrorMessage"
            >Maximum length is {{passwordMaxLength}}</mat-error>
          </mat-form-field>
        </div>

        <div class="mat-input-element" *ngIf="createNewAccountFormTypeEnabled">
          <mat-form-field>
            <label>
              <input
                matInput
                formControlName="passwordConfirm"
                placeholder="Password confirm"
                name="passwordConfirm"
                type="password"
                required
                pattern="{{password}}"
                (change)="onPasswordConfirmChanged($event.target.value)"
              >
            </label>
            <mat-error
              *ngIf="loginRegisterFormGroup.controls.passwordConfirm.errors?.required"
              i18n="password required|password required error message@@passwordRequiredErrorMessage"
            >You must provide password</mat-error>
            <mat-error
              *ngIf="loginRegisterFormGroup.controls.passwordConfirm.errors?.pattern"
              i18n="password does not match|password does not match error message@@passwordsDoesntMatchErrorMessage"
            >Password & Password Confirm does not match.</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">

          <mat-form-field *ngIf="createNewAccountFormTypeEnabled">
            <mat-label i18n="language select label|primary language select label@@primaryLanguageSelectLabel">Primary language</mat-label>

            <mat-select
              formControlName="primaryLanguageSelect"
              [(value)]="primaryLanguage"
              [errorStateMatcher]="matcher"
              required
            >
              <mat-option
                *ngFor="let type of languagesListFromApi | async"
                [value]="type">{{type.langCode.toUpperCase()}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="loginRegisterFormGroup.controls.primaryLanguageSelect.errors?.required"
                       i18n="language required|language required error message@@languageRequiredErrorMessage"
            >You must make a selection</mat-error>
            <mat-error *ngIf="(languagesListFromApi | async) == null"
                       i18n="language list is empty|language list is empty error message@@langsListEmptyErrorMessage"
            >Please, refresh languages list</mat-error>

          </mat-form-field>

          <div>
            <button
              *ngIf="(languagesListFromApi | async) == null && !(languagesAreLoading | async) && createNewAccountFormTypeEnabled"
              class="default-margin-left"
              mat-raised-button
              color="warn"
              type="button"
              (click)="onLanguagesRefreshClicked()"
              i18n="refresh button label|refresh button label@@refreshButton"
            >Refresh</button>

            <mat-spinner
              *ngIf="languagesAreLoading | async"
              class="default-margin-left"
              [diameter]="24"
            ></mat-spinner>

          </div>
        </div>

        <p>
          <button
            *ngIf="!createNewAccountFormTypeEnabled"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!loginRegisterFormGroup.valid"
            i18n="login|login button label@@login"
          >Login</button>
          <button
            *ngIf="createNewAccountFormTypeEnabled"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!loginRegisterFormGroup.valid"
            i18n="register|register button label@@register"
          >Register</button>
        </p>

      </form>

      <p *ngIf="!createNewAccountFormTypeEnabled">
        <span class="default-margin-right" i18n="no account?|no account?@@noAccountQuestion">Don't have account?</span>
        <button
          mat-raised-button
          color="accent"
          (click)="onFormTypeClicked()"
          i18n="create account|create account button label@@createAccountButtonLabel"
        >Create it!</button>
      </p>
      <p *ngIf="createNewAccountFormTypeEnabled">
        <span class="default-margin-right">Already have account?</span>
        <button
          mat-raised-button
          color="accent"
          (click)="onFormTypeClicked()"
          i18n="login|login button label@@login"
        >Login</button>
      </p>
    </div>
  </mat-card>

  <h3 i18n="or continue with|or continue with label@@orContinueWith">Or continue with</h3>

  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="16px grid"
  >
    <div fxFlex="noshrink" fxFlex.lt-sm="1 0 50%" fxLayout fxLayoutAlign="center">
      <button mat-stroked-button (click)="onGitHubLoginClicked()">
        <img class="login-icon" src="./assets/img/login/github.svg" alt="login with github">
        <span>GitHub</span>
      </button>
    </div>
    <div fxFlex="noshrink" fxFlex.lt-sm="1 0 50%" fxLayout fxLayoutAlign="center">
      <button mat-stroked-button (click)="onFacebookLoginClicked()">
        <img class="login-icon" src="./assets/img/login/facebook.svg" alt="login with facebook">
        <span>Facebook</span>
      </button>
    </div>
    <div fxFlex="noshrink" fxFlex.lt-sm="1 0 50%" fxLayout fxLayoutAlign="center">
      <button mat-stroked-button (click)="onVkLoginClicked()">
        <img class="login-icon" src="./assets/img/login/vk.svg" alt="login with vk">
        <span>VK</span>
      </button>
    </div>
    <div fxFlex="noshrink" fxFlex.lt-sm="1 0 50%" fxLayout fxLayoutAlign="center">
      <button mat-stroked-button (click)="onGoogleLoginClicked()">
        <img class="login-icon" src="./assets/img/login/google.svg" alt="login with google">
        <span>Google</span>
      </button>
    </div>
  </div>
</div>
