<body>

<mat-toolbar color="primary">
  <span routerLinkActive="active" routerLink="/home">{{title}}</span>
  <span class="toolbar-spacer"></span>
<!--  <img class="avatar" *ngIf="authenticated && isNullOrEmptyOrUndefined(appService.getUser().avatar)"-->
<!--       src="{{appService.getUser().myUsername}}" alt="avatar"/>-->
<!--  <mat-icon class="avatar" *ngIf="authenticated && !isNullOrEmptyOrUndefined(appService.getUser().avatar)">person-->
<!--  </mat-icon>-->
<!--  <span class="username" *ngIf="authenticated">{{appService.getUser().myUsername}}</span>-->
  <button
    mat-raised-button
    color="accent"
    *ngIf="!authenticated"
    (click)="login()"
  >
    Login
  </button>
  <button
    mat-raised-button
    color="accent"
    *ngIf="authenticated"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--<div>-->
<!--  <button mat-raised-button color="primary" (click)="login()">Login</button>-->
<!--</div>-->

<!--<div>-->
<!--  <button mat-raised-button color="accent" (click)="logout()">Logout</button>-->
<!--</div>-->



<!--  todo move to sites footer-->
<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a
  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a
  href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a
  href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

</body>
