<div>

  <div id="articles-container" *ngIf="articles.length!=0">
    <!--    todo-->
    <mat-card *ngFor="let article of articles">
      <mat-card-header>
        <mat-card-title>{{article.translations[indexOfCorrectArticleTranslation(article)].title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{article.translations[indexOfCorrectArticleTranslation(article)].shortDescription}}
      </mat-card-content>
    </mat-card>
  </div>

  <div id="data-loading-indication" *ngIf="progressInAction|async"
       class="background-half-transparent-white cover"
       (click)="$event.stopPropagation()"
  >
    <mat-spinner
      class="center-inside-both-axis"
      [diameter]="24"
    ></mat-spinner>
  </div>

</div>
<div>

  <button
    mat-fab
    color="accent"
    aria-label="Create article"
    matTooltip="Create article"
    class="bottom-right-corner"
    (click)="onCreateArticleClicked()"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>
