<div>

  <div>
<!--    todo-->
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
    <p>feed works!</p>
  </div>

  <div id="data-sending-indication" *ngIf="progressInAction|async"
       class="background-half-transparent-white cover"
       (click)="$event.stopPropagation()"
  >
    <mat-spinner
      class="center-inside-both-axis"
      [diameter]="24"
    ></mat-spinner>
  </div>

</div>
<div>

  <button
    mat-fab
    color="accent"
    aria-label="Create article"
    matTooltip="Create article"
    class="bottom-right-corner"
    (click)="onCreateArticleClicked()"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>
