<div>

  <div id="articles-container" *ngIf="articles.length!=0">
    <!--    todo-->
    <div *ngFor="let article of articles" class="default-margin-bottom">
      <mat-card *ngVar="article.translations[indexOfCorrectArticleTranslation(article)] as translation">
        <mat-card-header>
          <mat-card-title>{{translation.title}}</mat-card-title>
          <mat-card-subtitle>Author: {{article.sourceAuthorName != null ? article.sourceAuthorName : article.author.fullName}}</mat-card-subtitle>
          <mat-card-subtitle><span>{{article.publishedDate | date:'medium':'UTC': preferredLanguage.langCode}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{translation.shortDescription}}
        </mat-card-content>
        <mat-card-footer>
          <mat-button-toggle-group
            [value]="correctArticleLanguage(article)"
            (change)="translation = getTranslationForLanguageFromArticle($event.value, article)">
            <mat-button-toggle
              *ngFor="let lang of getAvailableArticleLanguages(article)"
              [value]="lang"
            >{{lang.langCode.toUpperCase()}}</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>

  <div id="data-loading-indication" *ngIf="progressInAction|async"
       class="background-half-transparent-white cover"
       (click)="$event.stopPropagation()"
  >
    <mat-spinner
      class="center-inside-both-axis"
      [diameter]="24"
    ></mat-spinner>
  </div>

</div>
<div>

  <button
    mat-fab
    color="accent"
    aria-label="Create article"
    matTooltip="Create article"
    class="bottom-right-corner"
    (click)="onCreateArticleClicked()"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>
