@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

$foreground: map-get($theme, foreground);

// Include all theme styles for the components.
@include angular-material-theme($theme);

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-button-toggle-checked {
  background-color: mat-color($accent);
  color: mat-color($accent, default-contrast);
}

.color-primary {
  color: mat-color($primary);
}

.color-accent {
  color: mat-color($accent);
}

.background-color-accent {
  background: mat-color($accent);
}

.background-color-primary {
  background: mat-color($primary);
}

.primary-text {
  color: mat-color($foreground, text);
}

/**
 * prevents text selection
 * see [https://stackoverflow.com/a/9314458/3212712]
 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  -webkit-user-drag: none; /*for image from https://stackoverflow.com/a/12906840/3212712*/
}

.default-margin-right {
  margin-right: 16px;
}

.default-margin-left {
  margin-left: 16px;
}

.default-margin-top {
  margin-top: 16px;
}

.default-margin-bottom {
  margin-bottom: 16px;
}

.small-margin-left {
  margin-left: 8px;
}

.small-margin-bottom {
  margin-bottom: 8px;
}

.small-margin-right {
  margin-right: 8px;
}

.small-padding-bottom {
  padding-bottom: 8px;
}

.center-inside {
  margin: auto;
}

.center-inside-both-axis {
  margin: auto;
  top: 50%;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.position-relative {
  position: relative;
}

.overflow-x {
  overflow-x: auto;
}

.full-screen-height {
  height: 100vh;
}

.min-full-screen-height {
  min-height: 100vh;
}

.full-width-field {
  width: 100%;
}

.bottom-right-corner {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

.default-padding-around {
  padding: 16px;
}

.background-half-transparent-white {
  background: rgba(255, 255, 255, 0.5)
}

.max-width-200 {
  max-width: 100px;
}

.show-line-breaks {
  white-space: pre-line;
}

.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.article-image-desktop {
  height: 96px;
  width: auto;
  border-radius: 4px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
