.account-container {
  padding-left: 16px;
  padding-right: 16px;
}

.avatar {
  width: 72px;
  height: 72px;

  border-radius: 50%;

  object-fit: cover;
}

.avatar-icon {
  width: 72px;
  height: 72px;

  border-radius: 50%;
}

.avatar-edit-fab {
  top: 24px;
  right: 24px;
}

.avatar-edit-fab-icon-avatar {
  top: 48px;
  right: 24px;
}

.rect-height-200 {
  height: 200px;
}
