<div class="account-container">

  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="profile|profile page label@@profile">Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div id="data-loading-indicator">

        <mat-spinner
          *ngIf="dataIsLoading | async"
          class="center-inside"
          [diameter]="24"
        ></mat-spinner>

        <button
          *ngIf="userFromApi == null && !(dataIsLoading | async)"
          class="default-margin-left"
          mat-raised-button
          color="warn"
          type="button"
          (click)="onDataRefreshClicked()"
          i18n="refresh button label|refresh button label@@refreshButton"
        >Refresh</button>

      </div>

      <div
        *ngIf="userFromApi != null"
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="16px"
      >
        <div id="profile-panel">
          <div id="avatar" fxLayoutAlign.lt-sm="space-around">

            <div id="image-avatar" *ngIf="!isNullOrEmptyOrUndefined(userFromApi.avatar)">
              <img
                class="avatar default-margin-bottom"
                src="{{userFromApi.avatar}}"
                alt="avatar"
                (error)="onAvatarLoadError($event)"
              />

              <button
                mat-mini-fab
                class="avatar-edit-fab"
                aria-label="Edit avatar"
                (click)="onAvatarEditClicked()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div id="icon-avatar"
                 *ngIf="isNullOrEmptyOrUndefined(userFromApi.avatar)"
                 class="default-margin-bottom"
                 fxLayout>

              <mat-icon
                class="avatar-icon background-color-primary"
                fxLayoutAlign="center center"
              >person</mat-icon>

              <button
                mat-mini-fab
                class="avatar-edit-fab-icon-avatar"
                aria-label="Edit avatar"
                (click)="onAvatarEditClicked()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

          </div>

          <form
            [formGroup]="accountEditFormGroup"
            name="accountEditForm"
            (ngSubmit)="onAccountEditClicked()"
          >

            <div id="email" class="mat-input-element">
              <mat-form-field class="full-width-field">
                <label class="full-width-field">
                  <input
                    matInput
                    formControlName="email"
                    placeholder="Email"
                    name="email"
                    type="email"
                    required
                  >
                </label>
              </mat-form-field>
            </div>

            <div id="name" class="mat-input-element">
              <mat-form-field class="full-width-field">
                <label class="full-width-field">
                  <input
                    matInput
                    formControlName="name"
                    placeholder="{{namePlaceholder}}"
                    name="name"
                    required
                    (change)="onNameChanged($event.target.value)"
                  >
                </label>
                <mat-error
                  *ngIf="accountEditFormGroup.controls.name.errors?.required"
                  i18n="Name required|name required error message@@nameRequiredErrorMessage">You must provide name</mat-error>
              </mat-form-field>
            </div>

            <div id="language" fxLayout="row" fxLayoutGap="16px">
              <mat-form-field class="full-width-field">
                <mat-label i18n="language select label|primary language select label@@primaryLanguageSelectLabel">Primary language</mat-label>

                <mat-select
                  formControlName="primaryLanguageSelect"
                  [errorStateMatcher]="matcher"
                  required
                  (selectionChange)="onPrimaryLanguageChanged($event.value)"
                >
                  <mat-option
                    *ngFor="let language of languagesListFromApi"
                    [value]="language">{{language.langCode.toUpperCase()}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="accountEditFormGroup.controls.primaryLanguageSelect.errors?.required"
                           i18n="language required|language required error message@@languageRequiredErrorMessage"
                >You must make a selection</mat-error>

              </mat-form-field>

            </div>

            <p>
              <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!(accountEditFormGroup.dirty && accountEditFormGroup.valid)"
                i18n="save changes|save changes button label@@saveChangesButtonLabel"
              >Save changes</button>
            </p>

          </form>

        </div>

        <div id="createdContent"
             fxLayout="column"
             fxLayoutAlign="space-between"
             [ngClass]="['overflow-x']"
             ngClass.lt-sm="{'overflow-x':false}"
             fxFlex
        >

          <div id="createdArticles">

            <h3 i18n="created articles|created articles label@@createdArticlesLabel">Created articles</h3>
            <div class="rect-height-200 position-relative">
              <div *ngIf="articlesCreated?.length!==0 else noArticles"
                   fxLayout
                   fxLayoutGap="16px"
                   class="overflow-x default-padding-around"
              >
                <div *ngFor="let article of articlesCreated">
                  <mat-card
                    class="account-article-card"
                    fxFlex="noshrink"
                    fxLayout="column"
                    (click)="onArticleClicked(article.id)"
                  >
                    <mat-card-content
                      fxFlex="80%"
                      class="account-article-card-content"
                    >{{article.translations[0].title}}</mat-card-content>
                    <mat-card-footer fxFlex="10%">
                      <p class="default-margin-left">{{article.publishedDate | date:'shortDate':'UTC': userLanguage.langCode}}</p>
                    </mat-card-footer>
                  </mat-card>
                </div>

              </div>

              <ng-template #noArticles>
                <div>
                  <!--                  todo-->
                </div>
              </ng-template>

              <div id="articles-loading-indication"
                   *ngIf="articlesAreLoading|async"
                   class="background-half-transparent-white cover"
                   (click)="$event.stopPropagation()"
              >
                <mat-spinner
                  class="center-inside-both-axis"
                  [diameter]="24"
                ></mat-spinner>
              </div>
            </div>
          </div>

          <div id="createdComments">
            <h3 i18n="published comments|published comments label@@publishedCommentsLabel">Published comments</h3>
            <div class="rect-height-200 position-relative">
              <div *ngIf="commentsCreated?.length!==0 else noComments"
                   fxLayout
                   fxLayoutGap="16px"
                   class="overflow-x default-padding-around"
              >
                <div *ngFor="let comment of commentsCreated">
                  <mat-card
                    class="account-article-card"
                    fxFlex="noshrink"
                    fxLayout="column"
                    (click)="onCommentClicked(comment.articleId)"
                  >
                    <mat-card-content
                      fxFlex="80%"
                      class="account-article-card-content"
                    >{{comment.text}}</mat-card-content>
                    <mat-card-footer fxFlex="10%">
                      <p class="default-margin-left">{{comment.created | date:'shortDate':'UTC': userLanguage.langCode}}</p>
                    </mat-card-footer>
                  </mat-card>
                </div>

              </div>

              <ng-template #noComments>
                <div>
<!--                  todo-->
                </div>
              </ng-template>

              <div id="comments-loading-indication"
                   *ngIf="commentsAreLoading|async"
                   class="background-half-transparent-white cover"
                   (click)="$event.stopPropagation()"
              >
                <mat-spinner
                  class="center-inside-both-axis"
                  [diameter]="24"
                ></mat-spinner>
              </div>
            </div>
          </div>

        </div>

        <div id="data-sending-indication" *ngIf="progressInAction|async"
             class="background-half-transparent-white cover"
             (click)="$event.stopPropagation()"
        >
          <mat-spinner
            class="center-inside-both-axis"
            [diameter]="24"
          ></mat-spinner>
        </div>

      </div>

    </mat-card-content>

    <mat-divider *ngIf="userFromApi != null"></mat-divider>

    <mat-card-actions
      *ngIf="userFromApi != null"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <button
        mat-stroked-button
        color="primary"
        (click)="onChangePasswordClicked()"
        i18n="change password|change password button label@@changePasswordButtonLabel"
      >Change password</button>

      <button
        mat-stroked-button
        color="warn"
        (click)="onDeleteAccountClicked()"
        i18n="delete account|delete account button label@@deleteAccountButtonLabel"
      >Delete Account</button>
    </mat-card-actions>

  </mat-card>

</div>
