<div class="account-container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div id="data-loading-indicator">

        <mat-spinner
          *ngIf="dataIsLoading | async"
          class="center-inside"
          [diameter]="24"
        ></mat-spinner>

        <button
          *ngIf="userFromApi == null && !(dataIsLoading | async)"
          class="default-margin-left"
          mat-raised-button
          color="warn"
          type="button"
          (click)="onDataRefreshClicked()"
        >Refresh</button>

      </div>

      <div
        *ngIf="userFromApi != null"
        fxLayout="row"
        fxLayoutGap="16px"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="16px"
      >
        <div>
          <div id="avatar" fxLayoutAlign.lt-sm="space-around">

            <div id="image-avatar" *ngIf="!isNullOrEmptyOrUndefined(userFromApi.avatar)">
              <img
                class="avatar default-margin-bottom"
                src="{{userFromApi.avatar}}"
                alt="avatar"
              />

              <button
                mat-mini-fab
                class="avatar-edit-fab"
                aria-label="Edit avatar"
                (click)="onAvatarEditClicked()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div id="icon-avatar"
                 *ngIf="isNullOrEmptyOrUndefined(userFromApi.avatar)"
                 class="default-margin-bottom"
                 fxLayout>

              <mat-icon
                class="avatar-icon background-color-primary"
                fxLayoutAlign="center center"
              >person</mat-icon>

              <button
                mat-mini-fab
                class="avatar-edit-fab-icon-avatar"
                aria-label="Edit avatar"
                (click)="onAvatarEditClicked()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

          </div>

          <form
            [formGroup]="accountEditFormGroup"
            name="accountEditForm"
            (ngSubmit)="onAccountEditClicked()"
          >

            <div id="email" class="mat-input-element">
              <mat-form-field class="full-width-field">
                <label class="full-width-field">
                  <input
                    matInput
                    formControlName="email"
                    placeholder="Email"
                    name="email"
                    type="email"
                    required
                  >
                </label>
              </mat-form-field>
            </div>

            <div id="name" class="mat-input-element">
              <mat-form-field class="full-width-field">
                <label class="full-width-field">
                  <input
                    matInput
                    formControlName="name"
                    placeholder="Name"
                    name="name"
                    required
                    (change)="onNameChanged($event.target.value)"
                  >
                </label>
                <mat-error *ngIf="accountEditFormGroup.controls.name.errors?.required">You must provide name</mat-error>
              </mat-form-field>
            </div>

            <div id="language" fxLayout="row" fxLayoutGap="16px">
              <mat-form-field class="full-width-field">
                <mat-label>Primary language</mat-label>

                <mat-select
                  formControlName="primaryLanguageSelect"
                  [errorStateMatcher]="matcher"
                  required
                  (selectionChange)="onPrimaryLanguageChanged($event.value)"
                >
                  <mat-option
                    *ngFor="let language of languagesListFromApi"
                    [value]="language">{{language.langCode.toUpperCase()}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="accountEditFormGroup.controls.primaryLanguageSelect.errors?.required"
                >You must make a selection</mat-error>

              </mat-form-field>

            </div>

            <p>
              <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!(accountEditFormGroup.dirty && accountEditFormGroup.valid)"
              >Save changes</button>
            </p>

          </form>

        </div>

        <div id="createdContent" fxLayout="column" fxLayoutAlign="space-between" fxFlex>

          <div id="createdArticles">

            <h3>Created articles</h3>
            <div class="rect-height-200 position-relative">
              <div class="articles-list">
                <div
                  *ngIf="articlesCreated?.length!==0"
                  fxLayout
                  fxLayoutGap="16px"
                >
                  <!--                todo-->
                  <mat-card *ngFor="let article of articlesCreated" class="account-article-card">
                    <mat-card-content>
                      <p class="account-article-card-content">
                        {{article.translations[0].title}}
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>

              <div id="articles-loading-indication" *ngIf="articlesAreLoading|async"
                   class="background-half-transparent-white cover"
                   (click)="$event.stopPropagation()"
              >
                <mat-spinner
                  class="center-inside-both-axis"
                  [diameter]="24"
                ></mat-spinner>
              </div>
            </div>
          </div>

          <div id="createdComments">
            <h3>Published comments</h3>
            <div class="rect-height-200">
              <p class="center-inside-both-axis">Coming soon!</p>
            </div>
          </div>

        </div>

      </div>

      <div id="data-sending-indication" *ngIf="progressInAction|async"
           class="background-half-transparent-white cover"
           (click)="$event.stopPropagation()"
      >
        <mat-spinner
          class="center-inside-both-axis"
          [diameter]="24"
        ></mat-spinner>
      </div>

    </mat-card-content>

    <mat-divider *ngIf="userFromApi != null"></mat-divider>

    <mat-card-actions
      *ngIf="userFromApi != null"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <button
        mat-stroked-button
        color="primary"
        (click)="onChangePasswordClicked()"
      >Change password</button>

      <button
        mat-stroked-button
        color="warn"
        (click)="onDeleteAccountClicked()"
      >Delete Account</button>
    </mat-card-actions>

  </mat-card>

</div>
