<h3 i18n="comments|comments label@@comments">Comments: {{commentsCount}}</h3>
<div id="comments-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [infiniteScrollDisabled]="(bottomProgressInAction | async)
       || (bottomProgressErrorOccurred | async)
       || commentsListEndReached()"
     (scrolled)="onScroll()"
>
  <div id="comment-create-container">
    <div id="form-container" *ngIf="user!=null else loginToPostComment" class="position-relative">
      <form
        name="articleCreateForm"
        [formGroup]="commentCreateFormGroup"
        (ngSubmit)="onCommentCreateClicked()"
      >
        <div class="full-width-field default-margin-bottom">
          <label i18n="add comment|add comment label@@addComment">Add comment</label>
          <!--suppress AngularUndefinedBinding -->
          <angular-markdown-editor
            textareaId="editor1"
            rows="6"
            formControlName="markdownText"
            [options]="editorOptions"
            (onChange)="onTextChanged($event.target.value)"
          >
          </angular-markdown-editor>
        </div>

        <p id="submit">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!commentCreateFormGroup.valid"
            i18n="send|send button label@@send"
          >Send</button>
        </p>
      </form>
      <div id="comment-sending-indication" *ngIf="commentSendInAction|async"
           class="background-half-transparent-white cover"
           (click)="$event.stopPropagation()"
      >
        <mat-spinner
          class="center-inside-both-axis"
          [diameter]="24"
        ></mat-spinner>
      </div>
    </div>

    <ng-template #loginToPostComment>
      <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
        <div i18n="only registered users can post comments|need login@@needLoginToPostComment">Only registered users can post comments!</div>
        <button
          mat-raised-button
          color="accent"
          (click)="onLoginClicked()"
          i18n="login|login button label@@login"
        >Login</button>
      </div>
    </ng-template>
  </div>

  <div id="comments-list-container" class="position-relative">
    <div *ngIf="comments.length!=0">
      <div *ngFor="let comment of comments">
        <div fxLayout fxLayoutAlign="start center" class="default-margin-bottom default-margin-top">
          <img class="avatar" src="{{comment.author.avatar}}" alt="avatar" (error)="onAvatarLoadError($event)">
          <span class="default-margin-left default-margin-right color-primary">{{comment.author.fullName}}</span>
          <span>{{comment.created|date: 'short': 'UTC': preferredLanguage.langCode}}</span>
          <span class="toolbar-spacer"></span>
          <button
            *ngIf="isAdmin() || user?.id === comment.authorId"
            class="default-margin-right"
            mat-icon-button
            (click)="onCommentDeleteClicked(comment.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <markdown [data]="comment.text"></markdown>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div *ngIf="comments.length==0 && !(progressInAction|async)">
      <p i18n="no comments yet|no comments yet label@@noComments">No comments yet!</p>
    </div>

    <div id="data-loading-indication" *ngIf="progressInAction|async"
         class="background-half-transparent-white cover"
         (click)="$event.stopPropagation()"
    >
      <mat-spinner
        class="center-inside-both-axis"
        [diameter]="24"
      ></mat-spinner>
    </div>

    <div id="bottom-loading-indication" fxLayout fxLayoutAlign="center center">
      <mat-spinner
        *ngIf="bottomProgressInAction|async"
        class="center-inside-both-axis"
        [diameter]="24"
      ></mat-spinner>

      <button
        *ngIf="(bottomProgressErrorOccurred|async) && !(bottomProgressInAction|async)"
        mat-flat-button
        (click)="loadComments(comments.length)"
        i18n="try again|try again button label@@tryAgainButtonLabel"
      >Try again</button>

      <div *ngIf="commentsListEndReached() && !noCommentsForArticle" class="default-margin-top">
        <p i18n="end of comments list|end of comments list@@endOfCommentsList">This is the end of comments list</p>
      </div>
    </div>
  </div>
</div>
